# Exercises Hand-In 3 E1.
## Group 30 (Oliver Nilsson)

In [1]:
# Import required libraries
import pandas as pd

# Print the versions of the libraries to check if they are installed correctly
print(f"Pandas version: {pd.__version__}")

Pandas version: 1.5.3

## 1. Train a logistic lasso model to predict non-climate sceptic language

In [5]:
# Import csv file to a pandas dataframe
df_tweets = pd.read_csv('1377884570_tweet_global_warming.csv', encoding='ISO-8859-1', engine='python')
df_tweets.dropna(inplace=True)  # Drop rows with missing values

# Replace Yes/Y with 1 and No/N with 0
df_tweets['existence'] = df_tweets['existence'].replace(['Y', 'Yes'], 1)
df_tweets['existence'] = df_tweets['existence'].replace(['N', 'No'], 0)

# Display the first 5 rows of the dataframe
df_tweets.head()

,tweet,existence,existence.confidence
0,Global warming report urges governments to act...,1,1.0000
1,Fighting poverty and global warming in Africa ...,1,1.0000
2,Carbon offsets: How a Vatican forest failed to...,1,0.8786
3,Carbon offsets: How a Vatican forest failed to...,1,1.0000
4,URUGUAY: Tools Needed for Those Most Vulnerabl...,1,0.8087

In [ ]:
# Split the data randomly into a test and a training set (70/30 % of the observations)